*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100vh;
  transition: 1s;
}

.container {
  display: grid;
  grid-template-rows: 5fr 4fr 1fr;
  gap: 15px;
  width: 400px;
  height: 60%;
}

input,
button {
  font-size: 1em;
}

input {
  flex: 3;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
}

.search-btn,
.temp-btn {
  flex: 1;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: rgb(109, 177, 204);
  color: white;
}

.search-btn:hover,
.temp-btn:hover  {
  background-color: rgb(84, 143, 167);
  transition: 0.2s;
}

.search-btn:active,
.temp-btn:active {
  box-shadow: 0 0 15px inset black;
}

.left-panel-upper,
.left-panel-lower,
.search {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(122, 122, 122, 0.932);
}

.search {
  display: flex;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.left-panel-upper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.left-panel-lower {
  font-size: 1.25em;
  grid-row: 2 / 3;
}

.left-panel-upper,
.left-panel-lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.temp-btn {
  margin-top: 40px;
  border-radius: 5px;
  flex: none;
  height: 40px;
  width: 40%;
}

.error {
  background-color: rgb(255, 167, 167);
}